.main-content {
    background-image: url('/img/main_bg.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.post-container {
    background: #fff;
    padding: 2rem;
}